Package: magic-package-games
Version: $TRAVIS_TAG
Section: stable
Priority: optional
Architecture: all
Depends: bash,playonlinux
Maintainer: Sylvain Gandon <krack_6@hotmail.com>
Description: Tools and configuration for install games.
Homepage: https://github.com/krack/magic-package-games
